/* Estilos para el formulario de inicio de sesión */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 50px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    text-align: center;
}

form input {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

form input[type="submit"] {
    font-size: 18px;
    margin-top: 10px;
    background-color: #00c4bd;
    color: white;
    border: none;
    cursor: pointer;
}


.container {
    text-align: center;
    margin-top: 20px;
}

.container h1{
    font-size: 40px;
}

.container p{
    font-size: 15px;
}
