.container{
  display: block;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 100vw;
}

.pregunta-test{
  padding-bottom: 10px;
}

.boton {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 15px; /* Tamaño del texto */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    border-radius: 5px; /* Bordes redondeados */
  }
  
.boton:hover {
    background-color: #640cfa; /* Color de fondo al pasar el cursor */
  }